<div class="container-fluid">

  <div class="row mt-5">
    <div class="col-3 card">
      <ul class="list-group list-group-flush">
       <% @conversations.each do |conversation| %>
       <% if !conversation.messages.empty? %>
         <% if current_user.id == conversation.receiver.id %>
            <li class="list-group-item" <% if !conversation.messages.last.read && conversation.messages.last.user_id != current_user.id   %> style="background-color: #e0e2e5;"<% end %> >
              <div class="row">
                <div class="col-3"><img class="rounded-circle img-fluid" height="90" style ="width: 100%" src="<%= user_image(conversation.sender.id)%>" /></div>
                <div class="col-9">
                  <div class="row show_message" id= "<%= conversation.id %>" ><%= link_to conversation.sender.name, conversation,method: :GET,remote: true,data:{ id: conversation.id} %></div>
                  <%= conversation.messages.last.body %>
                </div>
              </div>
            </li>
         <% else %>
         <li class="list-group-item">
           <div class="row">
             <div class="col-3"><img class="rounded-circle img-fluid" height="90"  src="<%= user_image(conversation.receiver.id)%>" /></div>
             <div class="col-9">
               <div class="row show_message" id= "<%= conversation.id %>" ><%= link_to conversation.receiver.name, conversation,method: :GET,remote: true,data:{id: conversation.id} %></div>
               <%= conversation.messages.last.body %>
             </div>
            </div>
         </li>
         <% end %>
        <% end %>
       <% end %>
     </ul>
    </div>
    <div class="col-6 card message_container">

    </div>
    <div class="col-3">
      <div class="card col-12">
        <ul class="list-group list-group-flush">
        <% @users.each do |user| %>
        <% if user.followed_id == current_user.id %>
          <li class="list-group-item"><%= link_to online_status(user.follower), conversations_path(sender_id: current_user.id, receiver_id: user.follower_id),method: 'post' %>
        <% else %>
          <li class="list-group-item"><%= link_to online_status(user.followed), conversations_path(sender_id: current_user.id, receiver_id: user.followed_id),method: 'post' %>
        <% end %>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>
