<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
  <div class="col-4">
    <div class="card style="width: 20rem;">
    <img class="card-img-top img-responsive" height="160" style="width: 100%" src="<%= @user.dpic %>">
    <div class="card-block">
      <h4 class="card-title"><%= @user.name %><%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-primary float-right' %></h4>
      <p class="card-text"><%= @user.aboutme %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= @user.email %></li>
      <li class="list-group-item"><%= @user.phone %></li>
      <li class="list-group-item col-md-12">
        <div class="col-md-6"><%= @user.city %></div>
        <div class="col-md-6"><%= @user.country %></div>
      </li>
    </ul>
  </div></div>
    <div class="col-8">
      <div class="float-left">Float left on all viewport sizes</div><br>

    </div>
  </div>
</div>
