<% if notice %>
<div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>
<div class="container">
  <div class="row">
  <div class="col-4 mt-5">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top img-fluid" height="160" style="width: 100%" src="<%= user_image(@user.id) %>">
    <div class="card-block">
      <h4 class="card-title"><%= @user.name %><% if signedin? && current_user.id == @user.id %><%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-primary float-right' %><% end %></h4>
      <p class="card-text"><%= @user.aboutme %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= @user.email %></li>
      <li class="list-group-item"><%= @user.phone %></li>
      <li class="list-group-item col-md-12">
        <div class="col-md-6"><%= @user.city %></div>
        <div class="col-md-6"><%= @user.country %></div>
      </li>
    </ul>
  </div></div>
    <div class="col-8 mt-5">
      <div class="float-left">Float left on all viewport sizes</div><br>

    </div>
  </div>
</div>
