<div class="col-4">
  <div class="card">
    <div class="card-header">
      <div class="row">
          <div class="col-3">
            sfwf
          </div>
          <div class="col-7">
            <div class="card-title"><%= song.title %></div>
            <div class="card-subtitle text-muted text-center"><%= song.user.name  %></div>
          </div>
          <div class="col-2">
            <%= link_to " ", edit_song_path(song),class: "fa fa-pencil-square-o" %>
          </div>
        </div>
    </div>
    <div class="card-block">
      <div class="row justify-content-md-center">
       <audio class="img-responsive"  controls><source src="/assets/<%= song.song %>" type="<%= song.song_type %>"></audio>
      </div>
      <div class="row justify-content-md-center card-text mt-3">
        <span class="badge badge-pill badge-info card-link"><%= song.category %></span>&nbsp;
        <span class="badge badge-pill badge-warning card-link"><%= song.language %></span>
        <div id="like" class="card-link"> <i class="fa fa-thumbs-up"></i><%= song.likes.length %></div>
      </div>
    </div>
    <div class="card-footer text-center">
      <%= time_ago_in_words(song.created_at) %>
    </div>
  </div>
</div>
