  <div class="card mt-2" id="<%= song.id %>">
    <div class="card-header">
      <div class="row">
          <div class="col-3">
            <img class="rounded-circle img-fluid" height="50" width="50" src="<%= user_image(song.user_id) %>">
          </div>
          <div class="col-7">
            <div class="card-title"><%= link_to song.user.name, user_path(song.user_id)  %></div>
            <div class="card-subtitle text-muted text-center"><%= link_to song.title, song_path(song) %></div>
          </div>
          <% if signedin? && current_user.id == song.user_id %>
          <div class="col-2">
            <%= link_to " ", edit_song_path(song),class: "fa fa-pencil-square-o" %>
            <%= link_to " ", song, method: :delete, data: { confirm: "Are you sure ??"}, class: "fa fa-times" %>
          </div>
          <% end %>
        </div>
    </div>
    <div class="card-block">
      <div class="row justify-content-md-center">
       <audio class="img-fluid" controls><source src="<%= song_play(song.id) %>" type="<%= song.song_type %>"></audio>
      </div>
      <div class="row justify-content-md-center card-text mt-3">
        <span class="badge badge-pill badge-info card-link"><%= song.category %></span>&nbsp;
        <span class="badge badge-pill badge-warning card-link"><%= song.language %></span>
        <div class="card-link"> <%= link_to song.comments.count, song_path(song),class: "fa fa-comment-o",id: "comment_count" %></div>&nbsp;&nbsp;
        <% if signedin? %>
          <div id="like_block<%= song.id %>" >
            <% if song.likes.find_index(current_user.id) %>
              <%= render partial: 'unlike', locals: {song: song} %>
            <% else %>
               <%= render partial: 'like', locals: {song: song} %>
           <% end %>
         </div>
        <% else %>
            <div class="card-link"><%= link_to song.likes.length, signin_path, class:"fa fa-thumbs-up" %></div>
        <% end %>
      </div>
    </div>
    <div class="card-footer text-center">
      <%= time_ago_in_words(song.created_at) %>
    </div>
  </div>
