<div class="col-4">
  <div class="card" id="<%= song.id %>">
    <div class="card-header">
      <div class="row">
          <div class="col-3">
            <img class="rounded-circle img-responsive" height="50" width="50" src="<%= user_image(song.user_id) %>">
          </div>
          <div class="col-7">
            <div class="card-title"><%= link_to song.title, song_path(song) %></div>
            <div class="card-subtitle text-muted text-center"><%= link_to song.user.name, user_path(song.user_id)  %></div>
          </div>
          <% if signedin? && current_user.id == song.user_id %>
          <div class="col-2">
            <%= link_to " ", edit_song_path(song),class: "fa fa-pencil-square-o" %>
            <%= link_to " ", @song,method: :delete, data: { confirm: "Are you sure ??"}, class: "fa fa-times" %>
          </div>
          <% end %>
        </div>
    </div>
    <div class="card-block">
      <div class="row justify-content-md-center">
       <audio class="img-responsive"  controls><source src="/assets/<%= song.song %>" type="<%= song.song_type %>"></audio>
      </div>
      <div id="like_block<%= song.id %>" class="row justify-content-md-center card-text mt-3">
        <span class="badge badge-pill badge-info card-link"><%= song.category %></span>&nbsp;
        <span class="badge badge-pill badge-warning card-link"><%= song.language %></span>
        <% if signedin? %>
            <% if song.likes.find_index(current_user.id) %>
              <div id="unli<%= song.id %>" class="like_unlike card-link"> <i class="fa fa-thumbs-down"></i><%= song.likes.length %></div>
            <% else %>
               <div id="like<%= song.id %>" class="like_unlike card-link"> <i class="fa fa-thumbs-up"></i><%= song.likes.length %></div>
            <% end %>
        <% else %>
            <div class="card-link"> <i class="fa fa-thumbs-up"></i><%= link_to song.likes.length, signin_path %></div>
        <% end %>
        <div class="card-link"> <i id="comment_count" class="fa fa-comment-o" ><%= song.comments.count %></i></div>
      </div>
    </div>
    <div class="card-footer text-center">
      <%= time_ago_in_words(song.created_at) %>
    </div>
  </div>
</div>
