<% flash.each do |key,msg| %>
 <div class="text-center alert alert-<%= key %>"><%= msg %></div>
<% end %>

<ul class="nav justify-content-center mt-3">
  <li class="nav-item">
    <select class="custom-select song_filter" id="language_filter">
      <option value=""selected>Language</option>
      <% @languages.each do |lang| %>
        <option value="<%= lang.language %>"><%= lang.language %></option>
      <% end %>
    </select>
  </li>
  <li class="nav-item">
    <select class="custom-select song_filter" id="category_filter">
      <option value="" selected>Category</option>
      <% @category.each do |cat| %>
        <option value="<%= cat.category %>"><%= cat.category %></option>
      <% end %>
    </select>
  </li>
</ul>
<div class="container">
  <div class="mt-5 row " id="songs_display">
      <%= render partial: 'songshow' %>
  </div>
  <% if @songs.any? %>
     <div id="infinite-scrolling">
       <%= will_paginate @songs %>
     </div>
  <% end %>
  <div class="mt-5 row" id="dis">

  </div>
</div>
