<% flash.each do |key,msg| %>
 <div class="text-center alert alert-<%= key %>"><%= msg %></div>
<% end %>
<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
              <% if signedin? && current_user.id == @song.user_id %>
              <div class="col-1">
                <%= link_to " ", edit_song_path(@song),class: "fa fa-pencil-square-o" %>
              </div>
              <% end %>
              <div class="col-9">
                <div class="card-title text-center"><%= @song.title %></div>
              </div>
              <% if signedin? && current_user.id == @song.user_id %>
              <div class="col-1">
                <%= link_to " ", @song,method: :delete, data: { confirm: "Are you sure ??"}, class: "fa fa-times" %>
              </div>
              <% end %>
            </div>
        </div>
        <div class="card-block">
          <div id="player">
           <audio id = "<%= @song.id %>">
             <source src="<%= song_play(@song.id) %>" type="<%= @song.song_type %>">
           </audio>
         </div>
           <div class="row justify-content-md-center align-middle">
             <div class="vol_min" class="btn btn-primary-outline" data-player-id ="<%= @song.id %>"> <i class="fa fa-volume-down fa-2x"></i>&nbsp;  </div>
             <div><div class="play" data-player-id ="<%= @song.id %>"> <i class="fa fa-play-circle fa-3x"></i>&nbsp; </div></div>
             <div class="vol_plus" data-player-id ="<%= @song.id %>"> <i class="fa fa-volume-up fa-2x"></i>  </div>
          </div>
        </div>
        <div class="card-footer">
         <div class="row">
            <div class="col-3">
              <img class="rounded-circle img-fluid" height="180" width="150" src="<%= user_image(@song.user_id) %>">
            </div>
            <div class="col-6">
              <span class="badge badge-pill badge-info card-link"><%= @song.category %></span>&nbsp;
              <span class="badge badge-pill badge-warning card-link"><%= @song.language %></span>
            </div>
            <div class="col-3">
              <div class="row">
                <div class="card-link"> <i id="comment_count" class="fa fa-comment-o" ><%= @song.comments.count %></i></div>&nbsp;&nbsp;
                <% if signedin? %>
                  <div id="like_block<%= @song.id %>" >
                    <% if @song.likes.find_index(current_user.id) %>
                      <%= render partial: 'songs/unlike', locals: {song: @song} %>
                    <% else %>
                       <%= render partial: 'songs/like', locals: {song: @song} %>
                   <% end %>
                 </div>
                <% else %>
                    <div class="card-link"><%= link_to @song.likes.length, signin_path, class:"fa fa-thumbs-up" %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class = "justify-content-center">
            <ul class="list-group list-group-flush mt-2" id="comment_display">
              <% @song.comments.each do |comment| %>
               <li id="comment<%= comment.id %>" class="list-group-item">
                 <div class="col-2"><img class="rounded-circle img-fluid" height="50" width="50" src="<%= user_image(comment.user_id) %>"></div>
                 <div class="col-8 text-center">
                   <div class="row"> <%= link_to comment.user.name, user_path(comment.user_id) %> </div>
                   <div class="row"> <%= comment.comment %> </div>
                 </div>
                 <% if signedin? && current_user.id == @song.user_id %>
                    <div class="col-2"><%= link_to " ", comment ,method: :delete, data: { confirm: "Are you sure ??"}, class: "fa fa-times comment_delete",remote: true %></div></li>
                 <% end %>
               <% end %>
             </ul>
            <% if signedin? %>
            <div class="mt-2">
              <%= form_for(@comment,remote: true) do |f| %>
                <%= f.hidden_field :song_id, value: @song.id %>
                <div class="row">
                  <%= f.text_area :comment, class: "form-control col-9", placeholder: "comment", id: "comment", :required => true %>
                  <div class="col-2"><%= f.submit "post", id: "comment_post", class: "btn btn-primary" %></div>
                </div>
              <% end %>
            </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
