<% flash.each do |key,msg| %>
 <div class="text-center alert alert-<%= key %>"><%= msg %></div>
<% end %>
<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-4">
      <div class="card" id="<%= @song.id %>">
        <div class="card-header">
          <div class="row">
              <div class="col-3">
                <img class="rounded-circle img-fluid" height="80" width="50" src="<%= user_image(@song.user_id) %>">
              </div>
              <div class="col-7">
                <div class="card-title"><%= @song.title %></div>
                <div class="card-subtitle text-muted text-center"><%= link_to @song.user.name, user_path(@song.user_id) %></div>
              </div>
              <% if signedin? && current_user.id == @song.user_id %>
              <div class="col-2">
                <%= link_to " ", edit_song_path(@song),class: "fa fa-pencil-square-o" %>
                <%= link_to " ", @song,method: :delete, data: { confirm: "Are you sure ??"}, class: "fa fa-times" %>
              </div>
              <% end %>
            </div>
        </div>
        <div class="card-block">
          <div class="row justify-content-md-center">
           <audio class="img-responsive" controls><source src="<%= song(@song.id) %>" type="<%= @song.song_type %>"></audio>
          </div>
          <div id="like_block<%= @song.id %>" class="row justify-content-md-center card-text mt-3">
            <span class="badge badge-pill badge-info card-link"><%= @song.category %></span>&nbsp;
            <span class="badge badge-pill badge-warning card-link"><%= @song.language %></span>
            <div class="card-link"> <i id="comment_count" class="fa fa-comment-o" ><%= @song.comments.count %></i></div>
            <% if signedin? && @song.likes.find_index(current_user.id) %>
              <div id="unli<%= @song.id %>" class="like_unlike card-link"> <i class="fa fa-thumbs-down"></i><%= @song.likes.length %></div>
            <% else %>
               <div id="like<%= @song.id %>" class="like_u
                 nlike card-link"> <i class="fa fa-thumbs-up"></i><%= @song.likes.length %></div>
            <% end %>

          </div>
          <ul class="list-group list-group-flush mt-2" id="comment_display">
            <% @song.comments.each do |comment| %>
             <li id="comment<%= comment.id %>" class="list-group-item">
               <div class="col-2"><img class="rounded-circle img-fluid" height="50" width="50" src="<%= user_image(comment.user_id) %>"></div>
               <div class="col-8 text-center">
                 <div class="row"> <%= link_to comment.user.name, user_path(comment.user_id) %> </div>
                 <div class="row"> <%= comment.comment %> </div>
               </div>
               <% if signedin? && current_user.id == @song.user_id %>
                  <div class="col-2"><%= link_to " ", comment ,method: :delete, data: { confirm: "Are you sure ??"}, class: "fa fa-times comment_delete",remote: true %></div></li>
               <% end %>
             <% end %>
           </ul>
          <% if signedin? %>
          <div class="mt-2">
            <%= form_for(@comment,remote: true) do |f| %>
              <%= f.hidden_field :song_id, value: @song.id %>
              <div class="row">
                <%= f.text_area :comment, class: "form-control col-9", placeholder: "comment", id: "comment", :required => true %>
                <div class="col-2"><%= f.submit "post", id: "comment_post", class: "btn btn-primary" %></div>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <%= time_ago_in_words(@song.created_at) %>
        </div>
      </div>
    </div>
  </div>
</div>
