<!DOCTYPE html>
<html>
  <head>
    <title>MusicRor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-faded" >
       <a class="navbar-brand" href="#">Singersarena</a>
       <ul class="nav navbar-nav justify-content-end">
         <% if signedin? %>
              <li class="nav-item active">
                <%= link_to current_user.name , current_user, class: "nav-link" %>
              </li>
              <li class="nav-item">
                 <%= link_to "Signout", signout_path, method: "delete" %>
              </li>
          <% else %>
              <li class="nav-item"><span class="nav-link btn btn-outline-primary" data-toggle="modal" data-target="#signup">Signup</span></li>
              <li class="nav-item"><span class="nav-link btn btn-outline-primary" data-toggle="modal" data-target="#signin">Signin</span></li>
          <% end %>
    </ul>

</nav>

    <%= yield %>
  </body>
</html>
