<%= form_for(user,role:"form",:multipart => 'true') do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-md-center mt-3 ">
    <div class="col-5 all_border">
          <div class="form-group ">
              <%= f.label :name,class: "control-label" %>
              <%= f.text_field :name,class: "form-control",placeholder: "Name:",:required => true  %>
          </div>

          <div class="form-group">
              <%= f.label :email,class: "control-label" %>
              <%= f.email_field :email,class: "form-control",placeholder: "Email:",:required => true ,id: "check_email" %>
          </div>
          <div class="form-group">
              <%= f.label :password,class: "control-label" %>
              <%= f.password_field :password,class: "form-control",placeholder: "password", :required =>true %>
          </div>
          <div class="form-group">
              <%= f.label :phone,class: "control-label" %>
              <%= f.text_field :phone,class: "form-control",placeholder: "Phone",:required =>true, pattern: "\\d*" %>
          </div>

          <div class="form-group">
              <%= f.label :Photo,class: "control-label" %>
              <%= f.file_field :image,class: "form-control-file btn btn-default" %>
          </div>

        <div class="form-group">
          <label for="gender_choose" class="control-label"> Gender : &nbsp;</label>
          <select name="user[gender]" class="custom-select" id="gender_choose">
            <option selected> Choose..</option>
            <option value="King">King</option>
            <option value="Queen">Queen </option>
          </select>
        </div>

        <div class="form-group">
          <%= f.label :city,class: "control-label" %>
          <%= f.text_field :city,class: "form-control",placeholder: "City",:required => true %>
        </div>

        <div class="form-group">
          <%= f.label :country,class: "control-label" %>
          <%= f.text_field :country,class: "form-control",placeholder: "Country",:required=>true %>
        </div>

        <div class="form-group">
            <%= f.label :Few_lines_about_me,class: "control-label" %>
            <%= f.text_area :aboutme,class: "form-control",placeholder: "About me",:required=>true %>
        </div>

        <div class="row">
          <p class="text-right"><%= link_to "Already Member Signin !!!!",signin_path %> </p>
        </div>

        <div class="row">
          <%= f.submit "Sign up ",class: "btn btn-outline-primary col-md-3 offset-md-5", id:"signup_form"%>
        </div>

      </div>
  </div>
<% end %>
