<% flash.each do |key,msg| %>
 <div class="text-center alert alert-<%= key %>"><%= msg %></div>
<% end %>
<div id="password_reset_msg"></div>
<h2 class="text-center mt-5"> <img src=" <%= icon %>" height="50" width="50" class="img-fluid"> Singersarena </h2>

<div class="row justify-content-md-center">
    <%= form_for(:profile, url: forget_password_accounts_path,remote: true,method: :GET,:html => {id: "forget_password"}) do |f|  %>
      <div class="row">
        <div class="col-12 mt-3 all_border">
          <div class="row">
            <%= f.label :Email %>
            <%= f.email_field :email,class:"form-control",placeholder: "Email", id: "email_check" %>
          </div>
          <div class="row justify-content-md-center">
            <%= f.submit "Reset", class: "btn btn-outline-primary text-center mt-2", id: "signin_form" %>
          </div>
    </div>
      </div>
      <% end %>
    </div>
