<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>
<h2 class="text-center mt-5"> <img src="<%= icon %>" height="50" width="50" class="img-fluid"> Singersarena </h2>

<div class="row justify-content-md-center mt-5">
    <%= form_for(:profile, url: password_change_accounts_path, remote: true,  id: "password_reset") do |f|  %>
      <div class="row">
        <div class="col-12 mt-5">
          <div class="row">
            <%= f.label :Password %>
            <%= f.password_field :password,class:"form-control",placeholder: "**********", id: "password" %>
          </div>
          <div class="row">
            <%= f.label :Retype_Password %>
            <%= f.password_field :again_password,class:"form-control",placeholder: "**********", id: "password_again" %>
          </div>
          <div class="row">
            <%= f.hidden_field :f_key,value: params[:f_key] %>
          </div>

          <div class="row justify-content-md-center">
            <%= f.submit "Reset", class: "btn btn-default text-center mt-2", id: "reset_form" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
