<div id="password_reset_msg" class="text-center"></div>

<h2 class="text-center mt-5"> <img src="assets/icon.png" height="50" width="50" class="img-fluid"> Singersarena </h2>

<div class="row justify-content-md-center mt-5">
    <%= form_for( url: password_reset_accounts_path, remote: true, method: :GET,  id: "password_reset") do |f|  %>
      <div class="row">
        <div class="col-12 mt-5">
          <div class="row">
            <%= f.label :Password %>
            <%= f.password_field :password,class:"form-control",placeholder: "**********", id: "password" %>
          </div>
          <div class="row">
            <%= f.label :Retype_Password %>
            <%= f.password_field :again_password,class:"form-control",placeholder: "**********", id: "password_again" %>
          </div>

          <div class="row justify-content-md-center">
            <%= f.submit "Reset", class: "btn btn-default text-center mt-2", id: "forget_password_form" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
